PORT=3000
JWT_SECRET=change-this-to-a-random-string
CALL_EXPIRE_MS=300000
DATA_DIR=./data
VAPID_PUBLIC_KEY=BKIILC62FUFwESbXnbB1XkfwctXT7vapdN8UHXZqQ9nmoVMI52HIFKzJxDr_HCKrIOA6RLVPjKOx5cNApE-Zz8A
VAPID_PRIVATE_KEY=E9s9uCRDlIDZhe3mZ0LoGjgPbO1hRLLnTIVWfiEZDAs
VAPID_SUBJECT=mailto:admin@tornwar.com
OWNER_API_KEY=your-torn-api-key-here
OWNER_FACTION_ID=42055
SUBSCRIPTION_PRICE=50000000
SUBSCRIPTION_DAYS=30
