PORT=3000
JWT_SECRET=change-this-to-a-random-string
CALL_EXPIRE_MS=300000
DATA_DIR=./data
VAPID_PUBLIC_KEY=BKIILC62FUFwESbXnbB1XkfwctXT7vapdN8UHXZqQ9nmoVMI52HIFKzJxDr_HCKrIOA6RLVPjKOx5cNApE-Zz8A
VAPID_PRIVATE_KEY=E9s9uCRDlIDZhe3mZ0LoGjgPbO1hRLLnTIVWfiEZDAs
VAPID_SUBJECT=mailto:admin@tornwar.com
